Flask==2.1.3
Flask-SQLAlchemy==2.5.1
Flask-Cors==3.0.10
SQLAlchemy==1.4
mysql-connector-python==8.0.27
PyMySQL==1.0.3
mysqlclient==2.1.1
BeautifulSoup4
requests
jsonify
random
py3langid==0.2.2
selenium==3.141.0
