Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Cors==3.0.10
SQLAlchemy==2.0.25
mysql-connector-python==8.0.27
PyMySQL==1.0.3
mysqlclient==2.1.1
BeautifulSoup4==4.12.2
requests==2.31.0
py3langid==0.2.2
selenium==3.141.0
